<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843418972082-023qd5pjn7osme2sgc6sis052e5ssude.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843418972082-023qd5pjn7osme2sgc6sis052e5ssude</string>
	<key>API_KEY</key>
	<string>AIzaSyDJNJoGKnPkIGxwt-74h3vTZBHPbqTe718</string>
	<key>GCM_SENDER_ID</key>
	<string>843418972082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myMart</string>
	<key>PROJECT_ID</key>
	<string>ecommerceappbyashu</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceappbyashu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843418972082:ios:77feedf0857f1f18cd7eab</string>
</dict>
</plist>